.DS_Store

# logs

**/logs
**/agentLogs/
**/sessionLogs/
**/sessionMemories/


# agent related
/prompt.md
.qwen/**
**/qwen/qwen.json
**/memories

# configs
/app/config.json
/storage/milvus/config.json
/embedders/**/config.json

# local test
**/real_test